<a href="https://colab.research.google.com/github/Shourya0007/PW007/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#data insertion with Google Colab
#Install Cassandra db
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in /usr/local/lib/python3.7/dist-packages (3.25.0)
Requirement already satisfied: geomet<0.3,>=0.1 in /usr/local/lib/python3.7/dist-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)

In [13]:
import cassandra
from cassandra.auth import PlainTextAuthProvider
from cassandra.cluster import Cluster
from ssl import PROTOCOL_TLSv1_2, SSLContext, CERT_NONE
from requests.utils import  DEFAULT_CA_BUNDLE_PATH


ssl_context = SSLContext(PROTOCOL_TLSv1_2)
ssl_context.verify_mode= CERT_NONE

auth_provider = PlainTextAuthProvider(username='pwcass',password='4npxDaR2mxA6Gbj3zlKpAzAGaK7vQrl6jP7szCW7LsAWE9vSaeBOWcvOUfAzrRi4MDPk3jla2QCSkEh7XlNMoQ==')
cluster = Cluster(['pwcass.cassandra.cosmos.azure.com'], port = 10350, auth_provider=auth_provider, ssl_context=ssl_context)
session = cluster.connect()

In [14]:
session.execute('CREATE KEYSPACE IF NOT EXISTS PW007 WITH replication={\'class\': \'NetworkTopologyStrategy\',\'datacenter\':\'1\'}')

In [21]:
session.execute('CREATE TABLE IF NOT EXISTS PW007.cities(user_id int PRIMARY KEY, username text, user_bcity text)')

In [35]:
session.execute("INSERT INTO PW007.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[1, 'John','Seattle'])
session.execute("INSERT INTO PW007.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[2, 'Jay','Dubai'])
session.execute("INSERT INTO PW007.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[3, 'Jam','Chennai'])
session.execute("INSERT INTO PW007.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[4, 'Jon','Pune'])
session.execute("INSERT INTO PW007.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[5, 'Johnathan','Mumbai'])
session.execute("INSERT INTO PW007.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[6, 'Raj','Bangalore'])
session.execute("INSERT INTO PW007.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[7, 'Ram','Belgaum'])
session.execute("INSERT INTO PW007.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[8, 'Johny','New York'])
session.execute("INSERT INTO PW007.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[9, 'Tupac','Texas'])
session.execute("INSERT INTO PW007.cities (user_id, username, user_bcity) VALUES (%s,%s,%s)",[10, 'Jojo','California'])

In [36]:
from prettytable import PrettyTable 

def PrintTable(rows):
    t = PrettyTable(['UserID','Name','City'])
    for r in rows:
      t.add_row([r.user_id, r.username, r.user_bcity])
    print(t)



rows = session.execute('SELECT * FROM PW007.cities')
PrintTable(rows)

+--------+-----------+------------+
| UserID |    Name   |    City    |
+--------+-----------+------------+
|   5    | Johnathan |   Mumbai   |
|   6    |    Raj    | Bangalore  |
|   7    |    Ram    |  Belgaum   |
|   2    |    Jay    |   Dubai    |
|   9    |   Tupac   |   Texas    |
|   3    |    Jam    |  Chennai   |
|   10   |    Jojo   | California |
|   4    |    Jon    |    Pune    |
|   1    |    John   |  Seattle   |
|   8    |   Johny   |  New York  |
+--------+-----------+------------+

In [37]:
rows = session.execute('SELECT * FROM PW.cities WHERE user_id = 9')
PrintTable(rows)

+--------+-------+-------+
| UserID |  Name |  City |
+--------+-------+-------+
|   9    | Tupac | Texas |
+--------+-------+-------+

In [25]:
session.execute("CREATE TABLE IF NOT EXISTS PW007.rankbyyearandname(race_year int , race_name text, cyclist_name text, rank int, PRIMARY KEY((race_year, race_name), rank) );")

In [26]:
session.execute("INSERT INTO PW007.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2015, 'Tour of Italy','Raj', 1])
session.execute("INSERT INTO PW007.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2014, 'Tour of France','Raju', 2])
session.execute("INSERT INTO PW007.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2018, 'Tour of Japan','Raje', 3])
session.execute("INSERT INTO PW007.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2019, 'Tour of Australia','Rajt', 4])
session.execute("INSERT INTO PW007.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2005, 'Tour of Autria','Rajy', 5])
session.execute("INSERT INTO PW007.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2021, '4th Tour of Italy','Rajt', 6])
session.execute("INSERT INTO PW007.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2007, '4th Tour of France','Rajg', 7])
session.execute("INSERT INTO PW007.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[2004, '4th Tour of Autria','Rajd', 8])
session.execute("INSERT INTO PW007.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[1992, '4th Tour of Australia','Rajs', 9])
session.execute("INSERT INTO PW007.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[1998, '4th Tour of Japan','Rajg', 10])
session.execute("INSERT INTO PW007.rankbyyearandname (race_year, race_name, cyclist_name, rank ) VALUES (%s,%s,%s,%s)",[1987, '4th Tour of China','Rajk', 11])

In [27]:
session.execute("CREATE TYPE PW007.basic_info(birthday timestamp,  nationality text, weight text, height text)")

In [28]:
session.execute("CREATE TABLE PW007.cycling_stats (id uuid PRIMARY KEY, lastname text, basics FROZEN<basic_info>);")

In [29]:
session.execute("INSERT INTO PW007.cycling_stats (id, lastname, basics ) VALUES (8b845131-c8b2-4197-84e6-f713de36f496, 'FRAME',{ birthday: '1993-08-18', nationality: 'India', weight:null, height:null});")

In [30]:
session.execute("CREATE TYPE PW007.race (race_title text, race_date timestamp, race_time text);")
session.execute("CREATE TABLE PW007.cyclist_races (id uuid PRIMARY KEY, lastname text, firstname text, races list<FROZEN<race>>);")

In [32]:
session.execute("INSERT INTO PW007.cyclist_races (id, lastname, firstname, races ) VALUES (7da4b41e-8a42-4dc0-ba50-6c928fcf254a, 'Los','Mary', [{ race_title: 'PREM RACE', race_date:'09-09-2018', race_time:'09:50'},{ race_title: 'PREM1 RACE', race_date:'09-09-2008', race_time:'08:50'}]);")

In [38]:
def PrintTable(rows):
    t = PrettyTable(['id','lastname','firstname','races'])
    for r in rows:
      t.add_row([r.id, r.lastname, r.firstname,r.races])
    print(t)

rows = session.execute('SELECT * FROM PW007.cyclist_races LIMIT 5')
PrintTable(rows)

+--------------------------------------+----------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                  id                  | lastname | firstname |                                                                                               races                                                                                               |
+--------------------------------------+----------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| 7da4b41e-8a42-4dc0-ba50-6c928fcf254a |   Los    |    Mary   | [race(race_title='PREM RACE', race_date=datetime.datetime(2018, 9, 9, 0, 0), race_time='09:50'), race(race_title='PREM1 RACE', race_date=datetime.datetime(2008, 9, 9, 0, 0), race_time='08:50')] |
+--------------------------------------+----------+-----------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+